[p-a] { position: absolute }
[p-f] { position: fixed }
[p-r] { position: relative }
[p-static] { position: static }
[p-sticky] { position: sticky }
[p-u] { position: unset }

[top]:is([p-a], [p-f], [p-r], [p-sticky]) { top: 0 }
[left]:is([p-a], [p-f], [p-r], [p-sticky]) { left: 0 }
[right]:is([p-a], [p-f], [p-r], [p-sticky]) { right: 0 }
[bottom]:is([p-a], [p-f], [p-r], [p-sticky]) { bottom: 0 }

[full]:is([p-a],[p-f]) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

[ov-a] { overflow: auto }
[ov-h] { overflow: hidden }

[wv-100] { width: 100vw }
[vh-100] { height: 100vh }

[gap-0] { gap: 0 }

[horz] { grid-auto-flow: column }
[vert] { grid-auto-flow: row }

[grid-auto-cols="auto"] { grid-auto-columns: auto }
[grid-auto-cols="fr"] { grid-auto-columns: 1fr }
[grid-auto-rows="auto"] { grid-auto-rows: auto }
[grid-auto-rows="fr"] { grid-auto-rows: 1fr }

[shift] { margin: auto }
[shift][up] { margin-top: 0 }
[shift][left] { margin-left: 0 }
[shift][right] { margin-right: 0 }
[shift][down] { margin-bottom: 0 }

[flex] {
  display: flex;
  flex-flow: column;
}
[flex][horz] {
  flex-flow: wrap;
  height: fit-content;
}
[flex][horz]:not([align-items]) { align-items: end }

[align-content="baseline"] { align-content: baseline }
[align-content="center"] { align-content: center }
[align-content="end"] { align-content: end }
[align-content="start"] { align-content: start }
[align-content="space-around"] { align-content: space-around }
[align-content="space-between"] { align-content: space-between }
[align-content="space-evenly"] { align-content: space-evenly }
[align-content="stretch"] { align-content: stretch }

[align-items="baseline"] { align-items: baseline }
[align-items="center"] { align-items: center }
[align-items="end"] { align-items: end }
[align-items="start"] { align-items: start }
[align-items="stretch"] { align-items: stretch }

[align-self="auto"] { align-self: auto }
[align-self="baseline"] { align-self: baseline }
[align-self="center"] { align-self: center }
[align-self="end"] { align-self: end }
[align-self="start"] { align-self: start }
[align-self="stretch"] { align-self: stretch }

[justify-content="center"] { justify-content: center }
[justify-content="end"] { justify-content: end }
[justify-content="space-around"] { justify-content: space-around }
[justify-content="space-between"] { justify-content: space-between }
[justify-content="space-evenly"] { justify-content: space-evenly }
[justify-content="start"] { justify-content: start }

[justify-items="baseline"] { justify-items: baseline }
[justify-items="center"] { justify-items: center }
[justify-items="end"] { justify-items: end }
[justify-items="start"] { justify-items: start }
[justify-items="stretch"] { justify-items: stretch }

[justify-self="auto"] { justify-self: auto }
[justify-self="baseline"] { justify-self: baseline }
[justify-self="center"] { justify-self: center }
[justify-self="end"] { justify-self: end }
[justify-self="start"] { justify-self: start }
[justify-self="stretch"] { justify-self: stretch }
