::file-selector-button,
button,
input,
optgroup,
option,
select,
textarea
{
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1;

  text-transform: none;
}

button,
:where(input:not(
  [type='checkbox'],
  [type='color'],
  [type='file'],
  [type='hidden'],
  [type='image'],
  [type='radio'],
  [type='range']
)),
optgroup,
option,
select,
textarea
{ padding: 0.25em 0.5em }

::file-selector-button,
:where(button, select),
:where(input):where(
  [type='button'],
  [type='checkbox'],
  [type='color'],
  [type='file'],
  [type='image'],
  [type='radio'],
  [type='range'],
  [type='reset'],
  [type='submit']
)
{ cursor: pointer }

:disabled,
:disabled::file-selector-button
{
  cursor: not-allowed;
  -webkit-tap-highlight-color: transparent;
}

fieldset {
  padding: 1em;
  border: 1px solid hsl(var(--sf-form-c-bd));
}

legend {
  color: inherit;
  padding: 0 0.5em;
}

progress { vertical-align: baseline }

textarea { overflow: auto }

