button,
input,
optgroup,
option,
select,
textarea
{
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1;

  text-transform: none;
  vertical-align: top;
}

select,
button,
input,
textarea
{
  padding: 0 0.75em;
  min-height: 32px;
}

input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='hidden'],
input[type='image'],
input[type='radio'],
input[type='range']
{
  margin: 0;
  padding: 0;
  min-height: 32px;
}

input[type='checkbox'],
input[type='radio'],
textarea
{ min-height: auto }


button,
select,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='checkbox'],
input[type='color'],
input[type='file'],
input[type='image'],
input[type='radio'],
input[type='range']
{ cursor: pointer }

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
input[type='checkbox'],
input[type='radio']
{ vertical-align: baseline }

input[type='checkbox'] { margin: 0 3px 0 0.5em }
input[type='radio'] { margin: 0 3px 0 0.5em }

fieldset { padding: 1em; border: 0 }
legend { color: inherit; padding: 0 0.5em }
textarea { overflow: auto }

::file-selector-button {
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 1;

  padding: 0 0.75em;
  min-height: 32px;

  text-transform: none;
  vertical-align: baseline;
}

::file-selector-button:disabled {
  cursor: not-allowed;
  -webkit-tap-highlight-color: transparent;
}

:disabled,
input:disabled,
button:disabled,
select:disabled
{
  cursor: not-allowed;
  -webkit-tap-highlight-color: transparent;
}
