a {
  color: hsl(var(--sf-c-link));
  text-decoration: underline;
  background: none;
}

a:not([href]) {
  cursor: not-allowed;
  text-decoration: none;
  opacity: var(--sf-disabled);
  -webkit-tap-highlight-color: transparent;
}
