table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

thead,
tbody,
tfoot
{ background: none }

thead { display: table-header-group }
tbody { display: table-row-group }
tfoot { display: table-footer-group }
tr { display: table-row }

td,
th
{
  display: table-cell;
  padding: 0.5em 0.75em;
  vertical-align: top;
  border: 1px solid hsl(var(--sf-c-bd));
}
td:not([align]),
th:not([align])
{ text-align: inherit }
