table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

tbody,
tfoot,
thead
{ background: none }

td,
th
{
  padding: 0.5em 0.75em;
  border: 1px solid hsl(var(--sf-table-c-bd));
}

td:not([align]),
th:not([align])
{ text-align: start }

td:not([valign]),
th:not([valign])
{ vertical-align: top }
