*,
*::before,
*::after
{ box-sizing: inherit }

* {
  display: grid;
  gap: var(--sf-gap);
}

html {
  color-scheme: light dark;

  font: var(--sf-base-fz)/var(--sf-base-fw) var(--sf-base-ff);
  line-height: 0.8;

  color: var(--sf-c-txt);
  background: var(--sf-c-bg);

  min-width: 300px;

  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body,
figure
{ margin: 0 }

body { min-height: 100vh }

a,
abbr,
address,
b,
bdi,
bdo,
br,
button,
cite,
code,
del,
dfn,
em,
i,
img,
ins,
input,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
kbd,
label,
legend,
mark,
p,
pre,
q,
rp,
rt,
ruby,
s,
samp,
select,
small,
span,
strong,
sub,
sup,
textarea,
time,
u,
var
{ display: unset }

hr {
  width: 100%;
  margin-block: 1em;
}

pre {
  overflow: auto;
  padding: 1.25em 1.5em;
  background: var(--sf-c-shape-bg);
}

ol,
ul
{
  gap: 0;
  margin-block: 0;
  margin-inline: 2em 0;
  padding: 0;
}
li { display: list-item }

dt { font-weight: 700 }
dd { margin-inline-start: 2em }

blockquote {
  margin-block: 0;
  margin-inline: 2em;
}

summary {
  cursor: pointer;
  display: list-item;
}

img,
video
{
  height: auto;
  max-width: 100%;
}

iframe,
img
{ border: 0 }

[hidden],
head *,
head,
link,
meta,
script,
style,
template
{ display: none }
