*,
*::before,
*::after
{ box-sizing: inherit }

::backdrop { background: hsl(var(--sf-c-backdrop) / 20%) }

html {
  display: flex;

  font-family: var(--sf-base-ff);
  font-size: var(--sf-base-fz);
  font-weight: var(--sf-base-fw);

  line-height: var(--sf-base-lh);

  color: hsl(var(--sf-c-txt));
  background: hsl(var(--sf-c-bg));

  min-width: 300px;
  min-height: 100%;

  box-sizing: border-box;

  font-synthesis: none;
  text-size-adjust: none;
}

html > body {
  display: flex;
  flex: 1;
}

body,
figure
{ margin: 0 }

hr {
  width: 100%;
  margin: 1em 0;
}

pre {
  overflow: auto;
  padding: 1.25em 1.5em;
  background: hsl(var(--sf-c-shape-bg));
}

ol,
ul
{
  margin: 0 0 0 2em;
  padding: 0;
}

dt { font-weight: 700 }
dd { margin-left: 2em }

blockquote { margin: 0 2em }

summary {
  cursor: pointer;
  display: list-item;
}

img,
video
{
  height: auto;
  max-width: 100%;
}

iframe,
img
{ border: 0 }

dialog[open] { z-index: 1000 }

main,
details
{ display: block }

template,
[hidden]
{ display: none }
