/* test */

h1,
h2,
h3,
h4,
h5,
h6
{
  font-weight: 700;
  line-height: normal;
}

address,
blockquote,
dd,
dt,
li,
p
{
  font-size: inherit;
  line-height: 1.5;
}

small,
sub,
sup
{ font-size: var(--sf-fz-small) }

h1 {
  font-size: var(--sf-h1);
  margin: 0.8em 0 0.4em;
}
h2 {
  font-size: var(--sf-h2);
  margin: 0.9em 0 0.45em;
}
h3 {
  font-size: var(--sf-h3);
  margin: 1em 0 0.5em;
}
h4 {
  font-size: var(--sf-h4);
  margin: 1.1em 0 0.55em;
}
h5 {
  font-size: var(--sf-h5);
  margin: 1.2em 0 0.6em;
}
h6 {
  font-size: var(--sf-h6);
  margin: 1.3em 0 0.65em;
}

p { margin: 0 }

pre,
code,
kbd,
samp,
time
{ font-family: monospace, monospace }

b,
strong
{ font-weight: 700 }

mark {
  color: hsl(var(--sf-c-mark-txt));
  background: hsl(var(--sf-c-mark-bg));
}
