h1,
h2,
h3,
h4,
h5,
h6
{ line-height: normal }

h1 { font-weight: var(--sf-fw-h1) }
h2 { font-weight: var(--sf-fw-h2) }
h3 { font-weight: var(--sf-fw-h3) }
h4 { font-weight: var(--sf-fw-h4) }
h5 { font-weight: var(--sf-fw-h5) }
h6 { font-weight: var(--sf-fw-h6) }

address,
blockquote,
dd,
dt,
li,
p
{
  font-size: inherit;
  line-height: var(--sf-lh-txt);
}

small,
sub,
sup
{
  font-size: var(--sf-fz-small);
  font-weight: var(--sf-fw-small);
}

h1 {
  font-size: var(--sf-h1);
  margin: 0.8em 0 0.4em;
}
h2 {
  font-size: var(--sf-h2);
  margin: 0.9em 0 0.45em;
}
h3 {
  font-size: var(--sf-h3);
  margin: 1em 0 0.5em;
}
h4 {
  font-size: var(--sf-h4);
  margin: 1.1em 0 0.55em;
}
h5 {
  font-size: var(--sf-h5);
  margin: 1.2em 0 0.6em;
}
h6 {
  font-size: var(--sf-h6);
  margin: 1.3em 0 0.65em;
}

p { margin: 0 }

pre,
code,
kbd,
samp,
time
{ font-family: monospace, monospace }

b,
strong
{ font-weight: var(--sf-fw-bold) }

mark {
  color: hsl(var(--sf-c-mark-txt));
  background: hsl(var(--sf-c-mark-bg));
}
